@using PBS.Model
@{
    ViewBag.Title = "产品的销售收益和支出汇总统计";
    Layout = "~/Views/Shared/_Home.cshtml";
    List<SaleGoodsReport> saleGoodsReportList = (List<SaleGoodsReport>)ViewData["SaleGoodsReportList"];
}
}
<style>
    .datetimepicker {
        top:190px !important;
    }
</style>
<!--top-Header-menu-->
@RenderPage("~/Views/Shared/_Header.cshtml")
<!--close-top-Header-menu-->
<!--main-container-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="javascript:void(0)"><i class="icon-home"></i>产品的销售收益和支出汇总统计</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid normal-size" style="margin: 0px">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>产品的销售收益和支出汇总统计</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="#" method="get" class="form-horizontal">
                        <div class="control-group">
                            @*<div class="controls">
                                <input id="StartTime" class="span11" readonly type="text" placeholder="开始时间" value="" />-
                            </div>
                            <div class="controls">
                                -<input id="EndTime" type="text" class="span11" readonly placeholder="结束时间" value="" />
                            </div>*@
                            <div class="controls">
                                <button id="saveBtn" type="button" class="btn btn-success" onclick="exportExcel()">导出excel</button>
                            </div>
                        </div>
                    </form>
                        <table id="example" class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>产品名称</th>
                                    <th>场次</th>
                                    <th>总人数</th>
                                    <th>单价</th>
                                    <th>总收入</th>
                                    <th>平台服务费</th>
                                    <th>站长服务费</th>
                                    <th>分销渠道费</th>
                                    <th>其他费用</th>
                                    <th>总费用</th>
                                    <th>总利润</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (saleGoodsReportList != null && saleGoodsReportList.Count > 0)
                            {
                                foreach (var item in saleGoodsReportList)
                                {
                            <tr>
                                <td>@item.GoodsId</td>
                                <td>@item.GoodsName</td>
                                <td>@item.ActShowCount</td>
                                <td>@item.PeopleCount</td>
                                <td>@item.SellingPrice</td>
                                <td>@item.TotalIncome</td>
                                <td>@item.PlatformCost</td>
                                <td>@item.ResponsiblePersonProfit</td>
                                <td>@item.SumShareProfit</td>
                                <td>@item.OtherCost</td>
                                <td>@item.TotalPrice</td>
                                <td>@item.TotalProfit</td>
                            </tr>
                                }
                            }
                            </tbody>
                        </table>
</div>

            </div>
        </div>
    </div>
</div>
<script src="~/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $("#StartTime,#EndTime").datetimepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        startView: 2,
        minView: 4,
        forceParse: false,
        language: 'zh-CN'
    });
</script>
<script type="text/javascript">
    function exportExcel() {
        var url = "@Url.Action("ExportExcelAjax", "SaleReport")";
        $.ajax({
            url: url,
            //data: { startTime: startTime, endTime: endTime},
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                var data = $.parseJSON(result);
                if (data != null && data.Code === "0000") {
                    //$.messager.alert('Message', 'Success!');
                    window.location = data.Url;
                } else {
                    $.scojs_message(data.Message, $.scojs_message.TYPE_ERROR);
                    return false;
                }
                return false;
            },
            error: function (xhr) {
                //alert('error\nstatus：' + xhr.status + '\nresponseText：' + xhr.responseText)
                $.scojs_message(errorThrown, $.scojs_message.TYPE_ERROR);
            }
        });
        return false;
    }
</script>