@using PBS.Model;
@{
    ViewBag.Title = "我的成长历程";
    Layout = "../Shared/_CommenHome.cshtml";
    List<pbs_basic_OrderViewRN> listOrderView = (List<pbs_basic_OrderViewRN>)ViewData["ListOrderViewRN"];
    var picSourceHostUrl = System.Configuration.ConfigurationManager.AppSettings["PicSourceHostUrl"];
}
<style type="text/css">
    #cd-timeline {
        position: relative;
    }

    .cd-container {
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
    }

    #cd-timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 1px;
        background: #000;
    }
</style>
<section id="cd-timeline" class="cd-container">
    <div style="background:url('../../image/pathLine.png') repeat-y;background-size:100%; width:100%;height:100%;overflow:hidden">
        <ul>
            @if (listOrderView != null && listOrderView.Count > 0)
            {
                foreach (var item in listOrderView)
                {
                    var picurl = picSourceHostUrl + item.GoodsMainImgUrl;
                    <li>
                        <div style="overflow:hidden; margin:1.3em 2em;">
                            @if (item.RNum % 2 == 0)
                            {
                                <div style="float:right;width:48%;text-align:right;margin-left:5px">
                                    <img alt="" src="@picurl" style="width:100%;height:100%" />
                                </div>
                                <div style="float:right;width:48%; margin-top:10%;margin-right:5px">
                                    <p style="text-align:center;color:#FFBA25">@item.RNum</p>
                                    <p><span style="background-color:#FFBA25;color:#fff">@Utility.Util.ParseHelper.ToDatetime(item.VisitTime).ToString("yyyy-MM-dd")</span><span style="color:#FFBA25">@item.GoodsName</span></p>
                                </div>
                            }
                            else
                            {
                                <div style="float:left;width:48%;text-align:left;margin-right:5px">
                                    <img alt="" src="@picurl" style="width:100%;height:100%" />
                                </div>
                                <div style="float:left;width:48%;margin-top:10%;margin-left:5px">
                                    <p style="text-align:center;color:#FFBA25">@item.RNum</p>
                                    <p><span style="background-color:#FFBA25;color:#fff">@Utility.Util.ParseHelper.ToDatetime(item.VisitTime).ToString("yyyy-MM-dd")</span><span style="color:#FFBA25">@item.GoodsName</span></p>
                                </div>
                            }
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</section>

@if (listOrderView == null || listOrderView.Count <= 0)
{
    <br />
    <br />
                    <h2 style="text-align:center"><img alt="" src="~/image/pj_icon.png" style="width:50%;height:50%" /></h2>
                    <br />
                    <h2 style="text-align:center">暂时还没有开始成长历程</h2>
}

<script type="text/javascript">
    function goBack() {
        window.location.href = "/User/Index";
    }
</script>
